<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="DatabaseConnection" providerName="System.Data.SqlClient" connectionString="Server=(local);Integrated Security=true;Database=PortfolioManager"/>
  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
