<?xml version="1.0"?>
<configuration>

  <configSections>


      <sectionGroup name="marketDataSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="_activeSettings" type="PortfolioManager.Common.MarketDataSettings, PortfolioManager" requirePermission="false" />
        <section name="barchart" type="PortfolioManager.Common.MarketDataSettings, PortfolioManager" requirePermission="false" />
        <section name="yahoo" type="PortfolioManager.Common.MarketDataSettings, PortfolioManager" requirePermission="false" />
      </sectionGroup>




    <!--<section name="marketDataSettings" type="PortfolioManager.Common.MarketDataSettings, PortfolioManager"/>-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="DatabaseConnection" providerName="System.Data.SqlClient" connectionString="Server=(local);Integrated Security=true;Database=PortfolioManager"/>
  </connectionStrings>

  <marketDataSettings>
    <_activeSettings name="yahoo"/>
    <barchart urlPrefix="http://marketdata.websol.barchart.com/getQuote.json?key=75dd0aebc8c6e5a9c8d1b9be02cf5ba9&amp;symbols=" symbolsSeparator="," urlPostfix=""           proxyAddress=""/>
    <yahoo    urlPrefix="http://finance.yahoo.com/d/quotes.csv?s="                                                              symbolsSeparator="+" urlPostfix="&amp;f=sl1" proxyAddress=""/>
  </marketDataSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    <appender name="Main" type="log4net.Appender.RollingFileAppender">
      <file value="${USERPROFILE}\My Documents\PortfolioManager\Logs\Main.log" />
      <appendToFile value="false" />
      <maximumFileSize value="1GB" />
      <maxSizeRollBackups value="3" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Main" />
    </root>
  </log4net>



</configuration>
